.item {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 110px;
    align-items: center;
    justify-content: center;
}

.label {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
}

.percentage {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
}